.img {
  width: 95%;
}
.nav-link {
  color: #df5920 !important;
}
.navbar-brand {
  color: #df5920 !important;
}

#title {
  background-image: radial-gradient(
    circle,
    #595252,
    #433e40,
    #2e2c2e,
    #1b1b1c,
    #040404
  ) !important;
}
.img3 {
  padding: 3rem 3rem;
}
.bg {
  background-color: #e4f1ff !important;
}

.showcase-main {
  background-image: radial-gradient();
}
.showcase1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.showcase {
  padding: 3rem;
  text-align: center;

}
.img-circle{
    border-radius: 50% !important;
}

/* review */

.reviews {
  font-size: 3rem;
  line-height: 1.5;
}
#review {
  padding: 7% 20%;
  text-align: center;
  background-color: #ffc75f;
  color: #fff;
}

.review-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* CTA */

#cta{
  background-color: #ff4c68;
  color:#fff;
  padding: 7% 15%;

}

h3{
  font-size:3.5rem !important;
  text-align:center;
}
#footer{
  text-align:center;
  padding: 7% 15%;
}
.social-icon{
  margin:20px 10px;
}